
body {
    padding-top: 50px;
    padding-bottom: 100px;
    max-width: 750px;
    margin: auto;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;;
    line-height: 1.4em;
    font-size: 12pt;
}

nav {
    padding: 20px;
}

code {
    font-family: monospace;
    font-size: 10pt;
}

pre {
    background-color: #ffffee;
    border: 1px solid #eee;
    padding: 20px;
}

a {
    color: #0000aa;
    border-bottom: 1px dotted #0000aa;
    text-decoration: none;
}

a:hover {
    color: #fff;
    background-color: #0000aa;
}
