
body {
    padding-top: 50px;
    padding-bottom: 100px;
    width: 50%;
    margin: auto;
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.4em;
    font-size: 12pt;
}

nav {
    padding: 20px;
}

code {
    font-family: monospace;
    font-size: 10pt;
}

pre {
    border: 1px solid #ccc;
    padding: 20px;
}

a {
    color: #004B6B;
    border-bottom: 1px dotted #004B6B;
    text-decoration: none;
}

a:hover {
    color: #fff;
    background-color: #004B6B;
}
